<%= link_to "Inventory Management", product_categories_path, class: "btn btn-info pull-right" %>
<h1>Inventory</h1>
<div class="row">
  <div id="processing" class="col-md-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <b>Processing</b>
      </div>
        <div id="processing-list" class="list-group">

        </div>
    </div>
  </div>
  <div id="ready-for-delivery" class="col-md-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <b>Ready For Delivery</b>
      </div>
      <div id="ready-for-delivery-list" class="list-group">
      </div>
    </div>
  </div>
  <div id="dispatched" class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <b>Dispatched</b>
      </div>
      <div id="dispatched-list" class="list-group">
      </div>
    </div>
  </div>
  <div id="delivered" class="col-md-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <b>Delivered</b>
      </div>
      <div id="delivered-list" class="list-group">
      </div>
    </div>
  </div>
</div>
</div>
